.card {
    color: var(--text-color);
    text-decoration: none;
}
.small_card {
    color: var(--text-color);
    text-decoration: none;
}
.img_block {
    position: relative;
    padding: 1px;
    border: 3px transparent solid;
    border-radius: 20px;
    transition: 0.4s;
}
.img_block:hover {
    border: 3px solid var(--border-color);
}
.card .img {
    height: 400px;
    width: auto;
    border-radius: 20px;
}
.small_card .img {
    height: 300px;
    width: auto;
    border-radius: 15px;
}
.card .rating {
    background: var(--gradient);
    border-radius: 7px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 0.9rem;
    padding: 5px 15px;
    text-align: center;
}
.small_card .rating {
    background: var(--gradient);
    border-radius: 7px;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 0.8rem;
    padding: 3px 12px;
    text-align: center;
}