.seasons {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.circle {
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    font-size: 1rem;
    border: none;
    transition: 0.4s;
}
.circle:hover {
    transform: scale(110%);
}
.active {
    background: var(--text-color);
    color: var(--bg-color);
}
.not_active {
    color: var(--text-color);
    background: var(--secondary_btn);
}