:root {
    --bg-color: #08070a;
    --text-color: white;
    --gradient: linear-gradient(90deg, rgba(106,17,203,1) 0%, rgba(37,117,252,1) 100%);
    --secondary_btn: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.10) 100%);
    --border-color: #2a6af7;
    --light-gray: #BABABA;
    --dark-gray: #4B4B4B;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
.content {
    padding-left: 120px;
    padding-bottom: 100px;
}
button {
    cursor: pointer;
}