.title {
    margin-bottom: 10px;
}
.gradient_border {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: var(--bg-color);
    font-size: 2rem;
}
.top10_item {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.top10_img {
    height: 400px;
    width: auto;
    border-radius: 20px;
    margin-left: -40px;
    border: 3px solid transparent;
    transition: 0.4s;
}
.top10_img:hover {
    border: 3px solid var(--border-color);
}
.top10_number {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: var(--bg-color);
    font-size: 12rem;
}
